body {
  background: #fff;
  margin: 0;
}

h2{
  color: #999
}
nav{
  height: 45px;
  background-color: #EAD42F;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#backHome{
  margin-left: 20px;
}
#backSlider{
  margin-right: 505px;
}


#yourFavorites {
  margin-right: 20px;
}

/*bars styles*/
.container-bar-places {
  margin-top: 10vh;
}

#bar-places {
height: 200px;
overflow-y: hidden;
overflow-x: auto;
width: auto;
padding: 10px;
white-space: nowrap;
}

#bar-places > div {
width: 100px;
height: 50px;
margin: 0 20px 0 0;
padding: 0px;
position: relative;
display: inline;
text-align: center;
}

#bar-places>div > img {
 border-radius: 10px;
}

#bar-places > div > a {
position: absolute;
bottom: 65px;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/*clubs styles*/

.container-club-places {
  margin-top: 10vh;
}

#club-places {
  height: 300px;
  overflow-y: hidden;
  overflow-x: auto;
  width: auto;
  padding: 10px;
  white-space: nowrap;

}

#club-places>div {
width: 100px;
height: 60px;
margin: 0 20px 0 0;
padding: 0px;
position: relative;
display: inline;
text-align: center;
}

#club-places>div>a {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-decoration: none;
}

#club-places>div>img{
  height: 300px;
  width: 220px;
  border-radius: 10px;
}

/*slider places*/
.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

#tinder--cards{
  text-align: center;
  display: flex;
  justify-content: center;
}
.tinder--card {
  display: inline;
  height: 65vh;
  width: 400px;
  background: #EAD42F;
  border-radius: 8px;
  position: absolute;
  top: 10vh;
  text-align: center;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card > img {
  max-width: 100%;
  pointer-events: none;
  height: 300px;
}

.tinder--buttons{
    margin-top: 470px;
    z-index: 1;
}
