body {
  background: #fff;
}

.banner-places {
  margin-top: 15vh;
}

#places {
height: 200px;
overflow-y: hidden;
overflow-x: auto;
width: auto;
padding: 10px;
white-space: nowrap;
}
#places > div{
width: 100px;
height: 50px;
margin: 0 10px 0 0;
padding: 0px;
display: inline;
}

::-webkit-scrollbar {
  display: none;
}

/*slider places*/
.tinder {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: opacity 0.1s ease-in-out;
}

.tinder--card {
  display: inline;
  width: 90vw;
  width: 400px;
  background: #905252;
  border-radius: 8px;
  overflow: hidden;
  position: absolute;
  top: 10vh;
  text-align: center;
  will-change: transform;
  transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.moving.tinder--card {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.tinder--card > img {
  max-width: 100%;
  pointer-events: none;
  height: 300px;
}
#love{
  position: absolute;
  top:373px;
}
